<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PBLEntities" connectionString="metadata=res://*/EF.PBL.csdl|res://*/EF.PBL.ssdl|res://*/EF.PBL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V8TS0L2\SQLEXPRESS;initial catalog=PBL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>